In [937]:
import numpy as np
import pandas as pd
import seaborn as sns

In [938]:
df_train_ben=pd.read_csv("/home/alignminds/Desktop/Collab/Train_Beneficiarydata-1542865627584.csv")

In [939]:
df_train_inp=pd.read_csv("/home/alignminds/Desktop/Collab/Train_Inpatientdata-1542865627584.csv")

In [940]:
df_train_ben = df_train_ben.drop_duplicates()
df_train_ben.head(5)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [941]:
df_train_ben.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [942]:
df_train_ben.dtypes

BeneID                             object
DOB                                object
DOD                                object
Gender                              int64
Race                                int64
RenalDiseaseIndicator              object
State                               int64
County                              int64
NoOfMonths_PartACov                 int64
NoOfMonths_PartBCov                 int64
ChronicCond_Alzheimer               int64
ChronicCond_Heartfailure            int64
ChronicCond_KidneyDisease           int64
ChronicCond_Cancer                  int64
ChronicCond_ObstrPulmonary          int64
ChronicCond_Depression              int64
ChronicCond_Diabetes                int64
ChronicCond_IschemicHeart           int64
ChronicCond_Osteoporasis            int64
ChronicCond_rheumatoidarthritis     int64
ChronicCond_stroke                  int64
IPAnnualReimbursementAmt            int64
IPAnnualDeductibleAmt               int64
OPAnnualReimbursementAmt            int64
OPAnnualDeductibleAmt               int64
dtype: object

In [943]:
df_train_ben.shape

(138556, 25)

convert the columns 'DOD' (Date of Death) and 'DOB' (Date of Birth) in the DataFrame df_train_ben from strings or other formats into a standardized datetime format(NAT-not a time)

In [944]:
df_train_ben['DOD'] = pd.to_datetime(df_train_ben['DOD'], format='%Y-%m-%d')
df_train_ben['DOB'] = pd.to_datetime(df_train_ben['DOB'], format='%Y-%m-%d')
df_train_ben.head(5)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaT,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaT,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaT,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaT,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaT,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

Latest date

In [945]:
df_train_ben["DOD"].max()

Timestamp('2009-12-01 00:00:00')

return the row(s) where the DOD column has the maximum value.

In [946]:
df_train_ben[df_train_ben.DOD == df_train_ben.DOD.max()]

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
6,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,...,2,1,2,1,1,2,0,0,1490,160
525,BENE11558,1927-12-01,2009-12-01,2,1,0,14,141,12,12,...,2,2,1,2,2,2,0,0,50,80
692,BENE11734,1929-04-01,2009-12-01,1,1,0,25,760,12,12,...,2,1,2,2,2,2,0,0,30,20
1667,BENE12787,1943-04-01,2009-12-01,1,1,0,42,450,12,12,...,1,2,2,1,2,2,0,0,1060,600
2766,BENE13946,1912-03-01,2009-12-01,2,1,0,15,450,12,12,...,2,2,2,2,2,2,0,0,30,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130779,BENE150858,1937-11-01,2009-12-01,1,1,0,31,200,12,12,...,2,2,2,1,2,2,0,0,1200,400
131036,BENE151130,1929-01-01,2009-12-01,1,1,0,5,400,12,12,...,1,1,1,2,2,2,7000,1068,100,0
135887,BENE156328,1936-10-01,2009-12-01,1,1,0,14,141,12,12,...,2,1,2,2,2,2,0,0,100,30
136789,BENE157302,1942-02-01,2009-12-01,1,1,0,23,680,12,12,...,2,2,1,2,2,2,0,0,1100,0
137682,BENE158266,1929-07-01,2009-12-01,1,3,0,5,400,12,12,...,1,1,1,2,1,2,20200,1068,2220,250

It is used to fill missing values (NaN) in the DOD column of the df_train_ben DataFrame with a specific date, "2009-12-01".

In [947]:
# df_train_ben["DOD"].fillna("2009-12-01", inplace = True)


df_train_ben["DOD"] = df_train_ben["DOD"].fillna("2009-12-01")
df_train_ben.head(5)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,2009-12-01,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,2009-12-01,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,2009-12-01,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,2009-12-01,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,2009-12-01,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

Calculate age

In [948]:
df_train_ben['Age'] = df_train_ben['DOD'].dt.year - df_train_ben['DOB'].dt.year

In [949]:
print(df_train_ben.columns)

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [950]:
df_train_ben.head(5)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,1943-01-01,2009-12-01,1,1,0,39,230,12,12,...,1,1,2,1,1,36000,3204,60,70,66
1,BENE11002,1936-09-01,2009-12-01,2,1,0,39,280,12,12,...,2,2,2,2,2,0,0,30,50,73
2,BENE11003,1936-08-01,2009-12-01,1,1,0,52,590,12,12,...,2,1,2,2,2,0,0,90,40,73
3,BENE11004,1922-07-01,2009-12-01,1,1,0,39,270,12,12,...,1,1,1,1,2,0,0,1810,760,87
4,BENE11005,1935-09-01,2009-12-01,1,1,0,24,680,12,12,...,1,2,2,2,2,0,0,1790,1200,74

In [951]:
df_train_ben.head(5)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,1943-01-01,2009-12-01,1,1,0,39,230,12,12,...,1,1,2,1,1,36000,3204,60,70,66
1,BENE11002,1936-09-01,2009-12-01,2,1,0,39,280,12,12,...,2,2,2,2,2,0,0,30,50,73
2,BENE11003,1936-08-01,2009-12-01,1,1,0,52,590,12,12,...,2,1,2,2,2,0,0,90,40,73
3,BENE11004,1922-07-01,2009-12-01,1,1,0,39,270,12,12,...,1,1,1,1,2,0,0,1810,760,87
4,BENE11005,1935-09-01,2009-12-01,1,1,0,24,680,12,12,...,1,2,2,2,2,0,0,1790,1200,74

In [952]:
df_train_ben = df_train_ben.drop('ChronicCond_Alzheimer', axis=1, errors='ignore')
df_train_ben = df_train_ben.drop('ChronicCond_Heartfailure', axis=1, errors='ignore')


df_train_ben = df_train_ben.drop('ChronicCond_KidneyDisease', axis=1, errors='ignore')
df_train_ben = df_train_ben.drop('ChronicCond_Cancer', axis=1, errors='ignore')


df_train_ben = df_train_ben.drop('ChronicCond_ObstrPulmonary', axis=1, errors='ignore')
df_train_ben = df_train_ben.drop('ChronicCond_Depression', axis=1, errors='ignore')


df_train_ben = df_train_ben.drop('ChronicCond_Diabetes', axis=1, errors='ignore')
df_train_ben = df_train_ben.drop('ChronicCond_IschemicHeart', axis=1, errors='ignore')


df_train_ben = df_train_ben.drop('ChronicCond_Osteoporasis', axis=1, errors='ignore')
df_train_ben = df_train_ben.drop('ChronicCond_rheumatoidarthritis', axis=1, errors='ignore')


df_train_ben = df_train_ben.drop('ChronicCond_stroke', axis=1, errors='ignore')

In [953]:
print(df_train_ben.columns)

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [954]:
df_train_prov=pd.read_csv("/home/alignminds/Desktop/Collab/Train-1542865627584.csv")
df_train_prov.head(10)

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No
5  PRV51008             No
6  PRV51011             No
7  PRV51012             No
8  PRV51013             No
9  PRV51014             No

In [955]:
df_fraud_prov = df_train_prov[df_train_prov.PotentialFraud == 'Yes']
df_fraud_prov.head(10)

    Provider PotentialFraud
1   PRV51003            Yes
3   PRV51005            Yes
13  PRV51021            Yes
25  PRV51037            Yes
37  PRV51052            Yes
44  PRV51059            Yes
49  PRV51064            Yes
52  PRV51067            Yes
60  PRV51077            Yes
65  PRV51084            Yes

In [956]:
df_fraud_prov.shape

(506, 2)

In [957]:
df_train_inp.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [958]:
print(df_train_ben.columns)

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [959]:
df_train_inp.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [720]:
# df_train_ben.head(5)

In [960]:
df_train_inp.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
dtype: object

In [961]:
df_train_inp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

In [962]:
df_train_inp.describe()

,InscClaimAmtReimbursed,DeductibleAmtPaid,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
count,40474.000000,39575.0,23148.000000,5454.000000,965.000000,116.000000,9.000000,0.0
mean,10087.884074,1068.0,5894.611759,4103.738174,4226.355440,4070.172414,5269.444444,NaN
std,10303.099402,0.0,3049.304400,2028.182156,2282.761581,1994.409802,2780.071632,NaN
min,0.000000,1068.0,11.000000,42.000000,42.000000,42.000000,2724.000000,NaN
25%,4000.000000,1068.0,3848.000000,2724.000000,2724.000000,2758.750000,4139.000000,NaN
50%,7000.000000,1068.0,5369.000000,4019.000000,4019.000000,4019.000000,4139.000000,NaN
75%,12000.000000,1068.0,8666.250000,4439.000000,5185.000000,4439.000000,5185.000000,NaN
max,125000.000000,1068.0,9999.000000,9999.000000,9999.000000,9986.000000,9982.000000,NaN

In [963]:
df_train_inp.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [964]:
df_train_inp.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [965]:
df_train_inp = df_train_inp.drop('AttendingPhysician', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('OperatingPhysician', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('OtherPhysician', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmAdmitDiagnosisCode', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('DiagnosisGroupCode', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmDiagnosisCode_1', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmDiagnosisCode_2', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmDiagnosisCode_3', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmDiagnosisCode_4', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmDiagnosisCode_5', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmDiagnosisCode_6', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmDiagnosisCode_7', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmDiagnosisCode_8', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmDiagnosisCode_9', axis=1, errors='ignore')



df_train_inp = df_train_inp.drop('ClmDiagnosisCode_10', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmProcedureCode_1', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmProcedureCode_2', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmProcedureCode_3', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmProcedureCode_4', axis=1, errors='ignore')
df_train_inp = df_train_inp.drop('ClmProcedureCode_5', axis=1, errors='ignore')


df_train_inp = df_train_inp.drop('ClmProcedureCode_6', axis=1, errors='ignore')

In [966]:
df_train_inp.shape

(40474, 9)

In [967]:
df_train_inp.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,2009-04-12,1068.0,2009-04-18
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,2009-08-31,1068.0,2009-09-02
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,2009-09-17,1068.0,2009-09-20
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,2009-02-14,1068.0,2009-02-22
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,2009-08-13,1068.0,2009-08-30

The code you provided converts columns in the DataFrame df_train_inp to datetime

In [968]:
df_train_inp['ClaimEndDt'] = pd.to_datetime(df_train_inp['ClaimEndDt'], format='%Y-%m-%d')
df_train_inp['ClaimStartDt'] = pd.to_datetime(df_train_inp['ClaimStartDt'], format='%Y-%m-%d')

Duration of the claim

In [969]:
df_train_inp["claim_duration"] = (df_train_inp['ClaimEndDt'] - df_train_inp['ClaimStartDt']).dt.days
df_train_inp.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,claim_duration
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,2009-04-12,1068.0,2009-04-18,6
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,2009-08-31,1068.0,2009-09-02,2
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,2009-09-17,1068.0,2009-09-20,3
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,2009-02-14,1068.0,2009-02-22,8
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,2009-08-13,1068.0,2009-08-30,17

The result is a new DataFrame where the columns from df_train_prov are added to df_train_inp based on matching values in the Provider column. Each row in df_train_inp will now include additional columns from df_train_prov where the Provider values match.

In [970]:
df_train_inp = df_train_inp.join(df_train_prov.set_index('Provider'), on='Provider')

In [971]:
df_train_inp.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AdmissionDt', 'DeductibleAmtPaid',
       'DischargeDt', 'claim_duration', 'PotentialFraud'],
      dtype='object')

In [746]:
df_train_inp.shape

(40474, 11)

Merge inpatient and beneficiary file

In [972]:
df_train_inp_total = df_train_inp.join(df_train_ben.set_index('BeneID'), on='BeneID')
df_train_inp_total.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,claim_duration,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,2009-04-12,1068.0,2009-04-18,6,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,2009-08-31,1068.0,2009-09-02,2,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,2009-09-17,1068.0,2009-09-20,3,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,2009-02-14,1068.0,2009-02-22,8,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,2009-08-13,1068.0,2009-08-30,17,...,Y,45,780,12,12,21260,2136,120,100,71

In [974]:
df_train_inp_total.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AdmissionDt', 'DeductibleAmtPaid',
       'DischargeDt', 'claim_duration', 'PotentialFraud', 'DOB', 'DOD',
       'Gender', 'Race', 'RenalDiseaseIndicator', 'State', 'County',
       'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [975]:
df_train_inp_total = df_train_inp_total.drop('claim_duration', axis=1, errors='ignore')

In [976]:
df_train_inp_total

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,2009-04-12,1068.0,2009-04-18,Yes,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,2009-08-31,1068.0,2009-09-02,No,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,2009-09-17,1068.0,2009-09-20,No,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,2009-02-14,1068.0,2009-02-22,No,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,2009-08-13,1068.0,2009-08-30,No,...,Y,45,780,12,12,21260,2136,120,100,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40469,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,2009-09-28,1068.0,2009-10-02,Yes,...,0,21,160,12,12,11400,2136,520,280,53
40470,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,2009-11-03,1068.0,2009-11-06,No,...,0,33,700,12,12,4000,1068,0,0,56
40471,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,2009-11-18,1068.0,2009-11-22,Yes,...,Y,45,910,12,12,8000,2136,1920,400,90
40472,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,2009-12-17,1068.0,2009-12-18,Yes,...,Y,45,910,12,12,8000,2136,1920,400,90
40473,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,2009-09-28,1068.0,2009-10-06,Yes,...,Y,31,150,12,12,15800,1068,6140,60,71

In [977]:
df_train_inp_total.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,2009-04-12,1068.0,2009-04-18,Yes,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,2009-08-31,1068.0,2009-09-02,No,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,2009-09-17,1068.0,2009-09-20,No,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,2009-02-14,1068.0,2009-02-22,No,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,2009-08-13,1068.0,2009-08-30,No,...,Y,45,780,12,12,21260,2136,120,100,71

In [978]:
df_train_op = pd.read_csv("/home/alignminds/Desktop/Collab/Train_Outpatientdata-1542865627584.csv")
df_train_op.head(20)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947
5,BENE11004,CLM173224,2009-02-03,2009-02-03,PRV56011,20,PHY339887,NaN,NaN,20381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
6,BENE11004,CLM224741,2009-03-03,2009-03-03,PRV56011,40,PHY345721,NaN,NaN,V6546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
7,BENE11004,CLM252512,2009-03-18,2009-03-18,PRV56011,200,PHY346833,NaN,PHY346833,72290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
8,BENE11004,CLM322683,2009-04-25,2009-05-15,PRV56011,60,PHY372925,NaN,PHY311407,71856,...,71596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
9,BENE11004,CLM339500,2009-05-04,2009-05-16,PRV56011,500,PHY412904,NaN,PHY396473,7237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,BENE11004,CLM529356,2009-08-17,2009-08-17,PRV55951,60,PHY381511,NaN,PHY358876,1828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
11,BENE11004,CLM564511,2009-09-06,2009-09-06,PRV56011,400,PHY396851,NaN,NaN,9986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,99811
12,BENE11004,CLM627730,2009-10-13,2009-10-13,PRV55903,90,PHY394597,NaN,PHY394597,7802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
13,BENE11004,CLM720523,2009-12-09,2009-12-09,PRV56011,100,PHY409445,NaN,PHY365422,70700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
14,BENE11004,CLM739666,2009-12-22,2009-12-22,PRV56011,100,PHY385446,NaN,PHY367216,2931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15,BENE11005,CLM167588,2009-01-31,2009-01-31,PRV54080,10,PHY406867,NaN,NaN,42761,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
16,BENE11005,CLM171350,2009-02-02,2009-02-02,PRV54080,50,PHY372623,NaN,NaN,2724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2724
17,BENE11005,CLM189948,2009-02-12,2009-02-12,PRV54080,1300,PHY372623,NaN,NaN,515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
18,BENE11005,CLM254408,2009-03-19,2009-03-19,PRV54080,80,PHY406867,NaN,PHY318343,4910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
19,BENE11005,CLM280220,2009-04-02,2009-04-02,PRV54080,200,PHY372623,NaN,NaN,3452,...,34830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [979]:
df_train_op.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [980]:
df_train_op = df_train_op.drop('AttendingPhysician', axis=1, errors='ignore')
df_train_op = df_train_op.drop('OperatingPhysician', axis=1, errors='ignore')


df_train_op = df_train_op.drop('OtherPhysician', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmDiagnosisCode_1', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmDiagnosisCode_2', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmDiagnosisCode_3', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmDiagnosisCode_4', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmDiagnosisCode_5', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmDiagnosisCode_6', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmDiagnosisCode_7', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmDiagnosisCode_8', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmDiagnosisCode_9', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmDiagnosisCode_10', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmProcedureCode_1', axis=1, errors='ignore')



df_train_op = df_train_op.drop('ClmProcedureCode_2', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmProcedureCode_3', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmProcedureCode_4', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmProcedureCode_5', axis=1, errors='ignore')


df_train_op = df_train_op.drop('ClmProcedureCode_6', axis=1, errors='ignore')
df_train_op = df_train_op.drop('ClmAdmitDiagnosisCode', axis=1, errors='ignore')

In [981]:
df_train_op.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,DeductibleAmtPaid
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,0
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,0
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,0
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,0
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,0

In [982]:
df_train_op.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'DeductibleAmtPaid'],
      dtype='object')

In [983]:
df_train_op.shape

(517737, 7)

In [984]:
df_train_op_total = df_train_op.join(df_train_prov.set_index('Provider'), on='Provider')
df_train_op_total.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,DeductibleAmtPaid,PotentialFraud
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,0,Yes
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,0,No
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,0,No
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,0,Yes
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,0,Yes

In [985]:
df_train_op_total.dtypes

BeneID                    object
ClaimID                   object
ClaimStartDt              object
ClaimEndDt                object
Provider                  object
InscClaimAmtReimbursed     int64
DeductibleAmtPaid          int64
PotentialFraud            object
dtype: object

In [986]:
df_train_op_total = df_train_op_total.join(df_train_ben.set_index('BeneID'), on='BeneID')
df_train_op_total.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,DeductibleAmtPaid,PotentialFraud,DOB,DOD,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,0,Yes,1936-09-01,2009-12-01,...,0,39,280,12,12,0,0,30,50,73
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,0,No,1936-08-01,2009-12-01,...,0,52,590,12,12,0,0,90,40,73
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,0,No,1936-08-01,2009-12-01,...,0,52,590,12,12,0,0,90,40,73
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,0,Yes,1922-07-01,2009-12-01,...,0,39,270,12,12,0,0,1810,760,87
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,0,Yes,1922-07-01,2009-12-01,...,0,39,270,12,12,0,0,1810,760,87

In [987]:
frames = [df_train_inp_total, df_train_op_total]
df_train_total = pd.concat(frames)
# df_train_total = df_train_total.drop('AdmissionDt', axis=1)
# df_train_total = df_train_total.fillna("None")
# df_train_total_cpy = df_train_total.copy()

In [988]:
df_train_total.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12 00:00:00,2009-04-18 00:00:00,PRV55912,26000,2009-04-12,1068.0,2009-04-18,Yes,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31 00:00:00,2009-09-02 00:00:00,PRV55907,5000,2009-08-31,1068.0,2009-09-02,No,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17 00:00:00,2009-09-20 00:00:00,PRV56046,5000,2009-09-17,1068.0,2009-09-20,No,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14 00:00:00,2009-02-22 00:00:00,PRV52405,5000,2009-02-14,1068.0,2009-02-22,No,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13 00:00:00,2009-08-30 00:00:00,PRV56614,10000,2009-08-13,1068.0,2009-08-30,No,...,Y,45,780,12,12,21260,2136,120,100,71

In [989]:
df_train_total.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AdmissionDt', 'DeductibleAmtPaid',
       'DischargeDt', 'PotentialFraud', 'DOB', 'DOD', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [608]:
# df_train_total_fraud = df_train_total[df_train_total['PotentialFraud'] == "Yes"]

In [609]:
# df_train_total_fraud.columns

In [991]:
df_train_total

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12 00:00:00,2009-04-18 00:00:00,PRV55912,26000,2009-04-12,1068.0,2009-04-18,Yes,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31 00:00:00,2009-09-02 00:00:00,PRV55907,5000,2009-08-31,1068.0,2009-09-02,No,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17 00:00:00,2009-09-20 00:00:00,PRV56046,5000,2009-09-17,1068.0,2009-09-20,No,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14 00:00:00,2009-02-22 00:00:00,PRV52405,5000,2009-02-14,1068.0,2009-02-22,No,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13 00:00:00,2009-08-30 00:00:00,PRV56614,10000,2009-08-13,1068.0,2009-08-30,No,...,Y,45,780,12,12,21260,2136,120,100,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,NaN,0.0,NaN,No,...,0,21,20,12,12,0,0,5470,1870,57
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,NaN,0.0,NaN,No,...,0,21,20,12,12,0,0,5470,1870,57
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,NaN,0.0,NaN,No,...,0,21,20,12,12,0,0,5470,1870,57
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,NaN,0.0,NaN,No,...,0,21,20,12,12,0,0,5470,1870,57
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,NaN,0.0,NaN,No,...,0,21,20,12,12,0,0,5470,1870,57

In [992]:
df_train_total.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12 00:00:00,2009-04-18 00:00:00,PRV55912,26000,2009-04-12,1068.0,2009-04-18,Yes,...,0,39,230,12,12,36000,3204,60,70,66
1,BENE11001,CLM66048,2009-08-31 00:00:00,2009-09-02 00:00:00,PRV55907,5000,2009-08-31,1068.0,2009-09-02,No,...,0,39,230,12,12,36000,3204,60,70,66
2,BENE11001,CLM68358,2009-09-17 00:00:00,2009-09-20 00:00:00,PRV56046,5000,2009-09-17,1068.0,2009-09-20,No,...,0,39,230,12,12,36000,3204,60,70,66
3,BENE11011,CLM38412,2009-02-14 00:00:00,2009-02-22 00:00:00,PRV52405,5000,2009-02-14,1068.0,2009-02-22,No,...,0,1,360,12,12,5000,1068,250,320,95
4,BENE11014,CLM63689,2009-08-13 00:00:00,2009-08-30 00:00:00,PRV56614,10000,2009-08-13,1068.0,2009-08-30,No,...,Y,45,780,12,12,21260,2136,120,100,71

In [993]:
df_train_total.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AdmissionDt', 'DeductibleAmtPaid',
       'DischargeDt', 'PotentialFraud', 'DOB', 'DOD', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Age'],
      dtype='object')

In [994]:
df_train_total.dtypes

BeneID                              object
ClaimID                             object
ClaimStartDt                        object
ClaimEndDt                          object
Provider                            object
InscClaimAmtReimbursed               int64
AdmissionDt                         object
DeductibleAmtPaid                  float64
DischargeDt                         object
PotentialFraud                      object
DOB                         datetime64[ns]
DOD                         datetime64[ns]
Gender                               int64
Race                                 int64
RenalDiseaseIndicator               object
State                                int64
County                               int64
NoOfMonths_PartACov                  int64
NoOfMonths_PartBCov                  int64
IPAnnualReimbursementAmt             int64
IPAnnualDeductibleAmt                int64
OPAnnualReimbursementAmt             int64
OPAnnualDeductibleAmt                int64
Age                                  int32
dtype: object

In [995]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, confusion_matrix, classification_report
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [996]:
# Define your categorical columns
categorical_cols = ['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
        'AdmissionDt', 'DischargeDt', 'PotentialFraud',
       'RenalDiseaseIndicator']

# Handling mixed data types
for col in categorical_cols:
    if col in df_train_total.columns:
        # Convert the column to string type
        df_train_total[col] = df_train_total[col].astype(str)

# Encode categorical columns
label_encoders = {}
for col in categorical_cols:
    if col in df_train_total.columns:
        le = LabelEncoder()
        df_train_total[col] = le.fit_transform(df_train_total[col])
        label_encoders[col] = le

In [997]:
df_train_total.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,9381,299052,256,216,3928,26000,134,1068.0,107,1,...,0,39,230,12,12,36000,3204,60,70,66
1,9381,471344,538,490,3923,5000,275,1068.0,244,0,...,0,39,230,12,12,36000,3204,60,70,66
2,9381,491764,572,526,4034,5000,292,1068.0,262,0,...,0,39,230,12,12,36000,3204,60,70,66
3,9489,226452,142,106,1125,5000,77,1068.0,52,0,...,0,1,360,12,12,5000,1068,250,320,95
4,9518,450337,502,484,4490,10000,257,1068.0,241,0,...,1,45,780,12,12,21260,2136,120,100,71

In [321]:
# df_train_total.columns

In [998]:
# Define features and target variable
X = df_train_total.drop('PotentialFraud', axis=1)  # Replace 'PotentialFraud' with your actual target column name
y = df_train_total['PotentialFraud']

In [999]:
# Convert datetime columns to datetime objects
X['ClaimStartDt'] = pd.to_datetime(X['ClaimStartDt'], unit='D', origin='unix')
X['ClaimEndDt'] = pd.to_datetime(X['ClaimEndDt'], unit='D', origin='unix')
X['AdmissionDt'] = pd.to_datetime(X['AdmissionDt'], unit='D', origin='unix')
X['DischargeDt'] = pd.to_datetime(X['DischargeDt'], unit='D', origin='unix')
X['DOB'] = pd.to_datetime(X['DOB'])
X['DOD'] = pd.to_datetime(X['DOD'])

# Example of extracting features from the datetime columns
X['ClaimDuration'] = (X['ClaimEndDt'] - X['ClaimStartDt']).dt.days
X['AdmissionYear'] = X['AdmissionDt'].dt.year
X['DischargeYear'] = X['DischargeDt'].dt.year
X['AgeAtAdmission'] = (X['AdmissionDt'] - X['DOB']).dt.days // 365

# Drop the original datetime columns if they are no longer needed
X = X.drop(columns=['ClaimStartDt', 'ClaimEndDt', 'AdmissionDt', 'DischargeDt', 'DOB', 'DOD'])

In [1000]:
x_column = X.columns
print(x_column)

Index(['BeneID', 'ClaimID', 'Provider', 'InscClaimAmtReimbursed',
       'DeductibleAmtPaid', 'Gender', 'Race', 'RenalDiseaseIndicator', 'State',
       'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Age',
       'ClaimDuration', 'AdmissionYear', 'DischargeYear', 'AgeAtAdmission'],
      dtype='object')

In [1001]:
X.head(5)

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,State,County,...,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,ClaimDuration,AdmissionYear,DischargeYear,AgeAtAdmission
0,9381,299052,3928,26000,1068.0,1,1,0,39,230,...,12,36000,3204,60,70,66,-40,1970,1970,27
1,9381,471344,3923,5000,1068.0,1,1,0,39,230,...,12,36000,3204,60,70,66,-48,1970,1970,27
2,9381,491764,4034,5000,1068.0,1,1,0,39,230,...,12,36000,3204,60,70,66,-46,1970,1970,27
3,9489,226452,1125,5000,1068.0,2,2,0,1,360,...,12,5000,1068,250,320,95,-36,1970,1970,56
4,9518,450337,4490,10000,1068.0,2,1,1,45,780,...,12,21260,2136,120,100,71,-18,1970,1970,32

In [1002]:
print(X)

        BeneID  ClaimID  Provider  InscClaimAmtReimbursed  DeductibleAmtPaid  \
0         9381   299052      3928                   26000             1068.0
1         9381   471344      3923                    5000             1068.0
2         9381   491764      4034                    5000             1068.0
3         9489   226452      1125                    5000             1068.0
4         9518   450337      4490                   10000             1068.0
...        ...      ...       ...                     ...                ...
517732   60012   338509      2169                     800                0.0
517733   60012   374404      2172                     400                0.0
517734   60012   414381      2149                      60                0.0
517735   60012   450432      2161                      70                0.0
517736   60012   494024      2161                      80                0.0

        Gender  Race  RenalDiseaseIndicator  State  County  ...  \
0            1     1                      0     39     230  ...
1            1     1                      0     39     230  ...
2            1     1                      0     39     230  ...
3            2     2                      0      1     360  ...
4            2     1                      1     45     780  ...
...        ...   ...                    ...    ...     ...  ...
517732       2     1                      0     21      20  ...
517733       2     1                      0     21      20  ...
517734       2     1                      0     21      20  ...
517735       2     1                      0     21      20  ...
517736       2     1                      0     21      20  ...

        NoOfMonths_PartBCov  IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  \
0                        12                     36000                   3204
1                        12                     36000                   3204
2                        12                     36000                   3204
3                        12                      5000                   1068
4                        12                     21260                   2136
...                     ...                       ...                    ...
517732                   12                         0                      0
517733                   12                         0                      0
517734                   12                         0                      0
517735                   12                         0                      0
517736                   12                         0                      0

        OPAnnualReimbursementAmt  OPAnnualDeductibleAmt  Age  ClaimDuration  \
0                             60                     70   66            -40
1                             60                     70   66            -48
2                             60                     70   66            -46
3                            250                    320   95            -36
4                            120                    100   71            -18
...                          ...                    ...  ...            ...
517732                      5470                   1870   57            -52
517733                      5470                   1870   57            -52
517734                      5470                   1870   57            -52
517735                      5470                   1870   57            -52
517736                      5470                   1870   57            -50

        AdmissionYear  DischargeYear  AgeAtAdmission
0                1970           1970              27
1                1970           1970              27
2                1970           1970              27
3                1970           1970              56
4                1970           1970              32
...               ...            ...             ...
517732           1971           1971              18
517733           1971           1971              18
517734           1971           1971              18
517735           1971           1971              18
517736           1971           1971              18

[558211 rows x 21 columns]

In [1003]:
print(y)

0         1
1         0
2         0
3         0
4         0
         ..
517732    0
517733    0
517734    0
517735    0
517736    0
Name: PotentialFraud, Length: 558211, dtype: int64

In [1004]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1005]:
print(X_test)

        BeneID  ClaimID  Provider  InscClaimAmtReimbursed  DeductibleAmtPaid  \
190270  106402   174872       926                      80                0.0
27826    12482   267159       920                   13000             1068.0
274151  128843   105237      3383                      80                0.0
99782    82013   337916       228                     300                0.0
462481   43637    90660      1307                      70                0.0
...        ...      ...       ...                     ...                ...
472316   46552   492559      1799                      40                0.0
488817   51363   409867      2378                      90                0.0
175334  102500   497873      3888                      70                0.0
349472   10638   411167      1523                      80                0.0
253406  123259   502928       640                      20                0.0

        Gender  Race  RenalDiseaseIndicator  State  County  ...  \
190270       1     1                      0     10     580  ...
27826        2     1                      0     10     630  ...
274151       2     1                      0     34     120  ...
99782        1     2                      0      4     740  ...
462481       1     2                      0     14     141  ...
...        ...   ...                    ...    ...     ...  ...
472316       1     1                      0     18     932  ...
488817       1     1                      0     23     800  ...
175334       2     1                      0     38      70  ...
349472       1     1                      0     15     480  ...
253406       2     1                      0      5     110  ...

        NoOfMonths_PartBCov  IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  \
190270                   12                         0                      0
27826                    12                     29000                   2136
274151                   12                      6000                   1068
99782                    12                         0                      0
462481                   12                         0                      0
...                     ...                       ...                    ...
472316                   12                      7000                   1068
488817                   12                         0                      0
175334                   12                         0                      0
349472                   12                      5000                   1068
253406                   12                         0                      0

        OPAnnualReimbursementAmt  OPAnnualDeductibleAmt  Age  ClaimDuration  \
190270                       270                     50   78            -52
27826                        100                      0   90            -30
274151                      1680                    420   70            -52
99782                       1430                     40   49            -52
462481                       640                    340   95            -52
...                          ...                    ...  ...            ...
472316                        40                    400   62            -52
488817                      1910                    720   72            -52
175334                       210                    230   76            -52
349472                      1720                     90   73            -52
253406                       630                    600   80            -52

        AdmissionYear  DischargeYear  AgeAtAdmission
190270           1971           1971              40
27826            1970           1970              51
274151           1971           1971              31
99782            1971           1971              11
462481           1971           1971              57
...               ...            ...             ...
472316           1971           1971              23
488817           1971           1971              33
175334           1971           1971              37
349472           1971           1971              34
253406           1971           1971              41

[111643 rows x 21 columns]

In [1006]:
print(y_test)

190270    0
27826     1
274151    0
99782     0
462481    1
         ..
472316    0
488817    0
175334    0
349472    0
253406    0
Name: PotentialFraud, Length: 111643, dtype: int64

In [1007]:
# Initializing and training the Random Forest model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [1008]:
X_test

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,State,County,...,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,ClaimDuration,AdmissionYear,DischargeYear,AgeAtAdmission
190270,106402,174872,926,80,0.0,1,1,0,10,580,...,12,0,0,270,50,78,-52,1971,1971,40
27826,12482,267159,920,13000,1068.0,2,1,0,10,630,...,12,29000,2136,100,0,90,-30,1970,1970,51
274151,128843,105237,3383,80,0.0,2,1,0,34,120,...,12,6000,1068,1680,420,70,-52,1971,1971,31
99782,82013,337916,228,300,0.0,1,2,0,4,740,...,12,0,0,1430,40,49,-52,1971,1971,11
462481,43637,90660,1307,70,0.0,1,2,0,14,141,...,12,0,0,640,340,95,-52,1971,1971,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472316,46552,492559,1799,40,0.0,1,1,0,18,932,...,12,7000,1068,40,400,62,-52,1971,1971,23
488817,51363,409867,2378,90,0.0,1,1,0,23,800,...,12,0,0,1910,720,72,-52,1971,1971,33
175334,102500,497873,3888,70,0.0,2,1,0,38,70,...,12,0,0,210,230,76,-52,1971,1971,37
349472,10638,411167,1523,80,0.0,1,1,0,15,480,...,12,5000,1068,1720,90,73,-52,1971,1971,34
253406,123259,502928,640,20,0.0,2,1,0,5,110,...,12,0,0,630,600,80,-52,1971,1971,41

In [1009]:
# Making predictions
y_pred = model.predict(X_test)

In [1010]:
print(y_pred)

[0 0 0 ... 0 0 0]

In [1011]:
# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
precision = precision_score(y_test, y_pred, average='weighted')
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

In [1012]:
df_train_total.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,PotentialFraud,...,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,9381,299052,256,216,3928,26000,134,1068.0,107,1,...,0,39,230,12,12,36000,3204,60,70,66
1,9381,471344,538,490,3923,5000,275,1068.0,244,0,...,0,39,230,12,12,36000,3204,60,70,66
2,9381,491764,572,526,4034,5000,292,1068.0,262,0,...,0,39,230,12,12,36000,3204,60,70,66
3,9489,226452,142,106,1125,5000,77,1068.0,52,0,...,0,1,360,12,12,5000,1068,250,320,95
4,9518,450337,502,484,4490,10000,257,1068.0,241,0,...,1,45,780,12,12,21260,2136,120,100,71

In [1013]:
# Output the evaluation metrics
print(f'Accuracy: {accuracy:.4f}')
print(f'F1 Score: {f1:.4f}')
print(f'Recall: {recall:.4f}')
print(f'Precision: {precision:.4f}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{class_report}')

Accuracy: 0.9047
F1 Score: 0.9036
Recall: 0.9047
Precision: 0.9053
Confusion Matrix:
[[65742  3241]
 [ 7404 35256]]
Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.95      0.93     68983
           1       0.92      0.83      0.87     42660

    accuracy                           0.90    111643
   macro avg       0.91      0.89      0.90    111643
weighted avg       0.91      0.90      0.90    111643

In [1014]:
import joblib

# Assuming you have trained a model called 'model'
joblib.dump(model, '/home/alignminds/Desktop/Collab/Model/random_forest.pkl')

['/home/alignminds/Desktop/Collab/Model/random_forest.pkl']

In [1015]:
loaded_model = joblib.load('/home/alignminds/Desktop/Collab/Model/random_forest.pkl')

In [1018]:
import pandas as pd

# Create the input data dictionary
input_data = {
    'BeneID': ['BENE11017'],  # object
    'ClaimID': ['CLM70950'],  # object
    'ClaimStartDt': ['01-10-2009'],  # object (date as string)
    'ClaimEndDt': ['12-10-2009'],  # object (date as string)
    'Provider': ['PRV54986'],  # object
    'InscClaimAmtReimbursed': [8000],  # int64
    'AdmissionDt': ['05-10-2009'],  # object (date as string)
    'DeductibleAmtPaid': [1068.50],  # float64
    'DischargeDt': ['12-10-2009'],  # object (date as string)
    'DOB': ['01-06-1940'],  # datetime64[ns] (date as string)
    'DOD': ['01-06-2020'],  # datetime64[ns] (date as string)
    'Gender': [0],  # int64 (0 for male, 1 for female)
    'Race': [1],  # int64 (e.g., 1 for white)
    'RenalDiseaseIndicator': ['No'],  # object (categorical)
    'State': [31],  # int64 (state code)
    'County': [270],  # int64 (county code)
    'NoOfMonths_PartACov': [12],  # int64
    'NoOfMonths_PartBCov': [12],  # int64
    'IPAnnualReimbursementAmt': [22000],  # int64
    'IPAnnualDeductibleAmt': [2136],  # int64
    'OPAnnualReimbursementAmt': [1400],  # int64
    'OPAnnualDeductibleAmt': [840],  # int64
    'Age': [80],  # Age as an int
}


# Convert input_data to DataFrame
input_df = pd.DataFrame(input_data)

# Convert date strings to datetime objects
input_df['ClaimStartDt'] = pd.to_datetime(input_df['ClaimStartDt'], format='%d-%m-%Y')
input_df['ClaimEndDt'] = pd.to_datetime(input_df['ClaimEndDt'], format='%d-%m-%Y')
input_df['AdmissionDt'] = pd.to_datetime(input_df['AdmissionDt'], format='%d-%m-%Y')
input_df['DischargeDt'] = pd.to_datetime(input_df['DischargeDt'], format='%d-%m-%Y')
input_df['DOB'] = pd.to_datetime(input_df['DOB'], format='%d-%m-%Y')
input_df['DOD'] = pd.to_datetime(input_df['DOD'], format='%d-%m-%Y')

# Feature Engineering: Add derived features
input_df['ClaimDuration'] = (input_df['ClaimEndDt'] - input_df['ClaimStartDt']).dt.days
input_df['AdmissionYear'] = input_df['AdmissionDt'].dt.year
input_df['DischargeYear'] = input_df['DischargeDt'].dt.year
input_df['AgeAtAdmission'] = (input_df['AdmissionDt'] - input_df['DOB']).dt.days // 365

# Drop the original datetime columns if not needed
input_df = input_df.drop(columns=['ClaimStartDt', 'ClaimEndDt', 'AdmissionDt', 'DischargeDt', 'DOB', 'DOD'])

# Define your categorical columns
categorical_cols = ['BeneID', 'ClaimID', 'Provider', 'RenalDiseaseIndicator']

# Encode categorical columns
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    input_df[col] = le.fit_transform(input_df[col])
    label_encoders[col] = le  # Store the encoder for future use

# Now the input_df is ready for prediction
print(input_df.head())

# Assuming `model` is your trained RandomForestClassifier
pred = loaded_model.predict(input_df)
print("Prediction:", pred)

   BeneID  ClaimID  Provider  InscClaimAmtReimbursed  DeductibleAmtPaid  \
0       0        0         0                    8000             1068.5

   Gender  Race  RenalDiseaseIndicator  State  County  ...  \
0       0     1                      0     31     270  ...

   NoOfMonths_PartBCov  IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  \
0                   12                     22000                   2136

   OPAnnualReimbursementAmt  OPAnnualDeductibleAmt  Age  ClaimDuration  \
0                      1400                    840   80             11

   AdmissionYear  DischargeYear  AgeAtAdmission
0           2009           2009              69

[1 rows x 21 columns]
Prediction: [1]

In [1019]:
import pandas as pd

# Create the input data dictionary
input_data = {
    'BeneID': ['BENE11017'],  # object
    'ClaimID': ['CLM70950'],  # object
    'ClaimStartDt': ['02-08-2009'],  # object (date as string)
    'ClaimEndDt': ['11-09-2010'],  # object (date as string)
    'Provider': ['PRV54986'],  # object
    'InscClaimAmtReimbursed': [9500],  # int64
    'AdmissionDt': ['02-08-2009'],  # object (date as string)
    'DeductibleAmtPaid': [1068.50],  # float64
    'DischargeDt': ['11-09-2009'],  # object (date as string)
    'DOB': ['13-08-1982'],  # datetime64[ns] (date as string)
    'DOD': ['30-11-2024'],  # datetime64[ns] (date as string)
    'Gender': [0],  # int64 (0 for male, 1 for female)
    'Race': [1],  # int64 (e.g., 1 for white)
    'RenalDiseaseIndicator': ['No'],  # object (categorical)
    'State': [31],  # int64 (state code)
    'County': [270],  # int64 (county code)
    'NoOfMonths_PartACov': [12],  # int64
    'NoOfMonths_PartBCov': [12],  # int64
    'IPAnnualReimbursementAmt': [34000],  # int64
    'IPAnnualDeductibleAmt': [4126],  # int64
    'OPAnnualReimbursementAmt': [1500],  # int64
    'OPAnnualDeductibleAmt': [700],  # int64
    'Age': [42],  # Age as an int
}


# Convert input_data to DataFrame
input_df = pd.DataFrame(input_data)

# Convert date strings to datetime objects
input_df['ClaimStartDt'] = pd.to_datetime(input_df['ClaimStartDt'], format='%d-%m-%Y')
input_df['ClaimEndDt'] = pd.to_datetime(input_df['ClaimEndDt'], format='%d-%m-%Y')
input_df['AdmissionDt'] = pd.to_datetime(input_df['AdmissionDt'], format='%d-%m-%Y')
input_df['DischargeDt'] = pd.to_datetime(input_df['DischargeDt'], format='%d-%m-%Y')
input_df['DOB'] = pd.to_datetime(input_df['DOB'], format='%d-%m-%Y')
input_df['DOD'] = pd.to_datetime(input_df['DOD'], format='%d-%m-%Y')

# Feature Engineering: Add derived features
input_df['ClaimDuration'] = (input_df['ClaimEndDt'] - input_df['ClaimStartDt']).dt.days
input_df['AdmissionYear'] = input_df['AdmissionDt'].dt.year
input_df['DischargeYear'] = input_df['DischargeDt'].dt.year
input_df['AgeAtAdmission'] = (input_df['AdmissionDt'] - input_df['DOB']).dt.days // 365

# Drop the original datetime columns if not needed
input_df = input_df.drop(columns=['ClaimStartDt', 'ClaimEndDt', 'AdmissionDt', 'DischargeDt', 'DOB', 'DOD'])

# Define your categorical columns
categorical_cols = ['BeneID', 'ClaimID', 'Provider', 'RenalDiseaseIndicator']

# Encode categorical columns
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    input_df[col] = le.fit_transform(input_df[col])
    label_encoders[col] = le  # Store the encoder for future use

# Now the input_df is ready for prediction
print(input_df.head())

# Assuming `model` is your trained RandomForestClassifier
pred = loaded_model.predict(input_df)
print("Prediction:", pred)

   BeneID  ClaimID  Provider  InscClaimAmtReimbursed  DeductibleAmtPaid  \
0       0        0         0                    9500             1068.5

   Gender  Race  RenalDiseaseIndicator  State  County  ...  \
0       0     1                      0     31     270  ...

   NoOfMonths_PartBCov  IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  \
0                   12                     34000                   4126

   OPAnnualReimbursementAmt  OPAnnualDeductibleAmt  Age  ClaimDuration  \
0                      1500                    700   42            405

   AdmissionYear  DischargeYear  AgeAtAdmission
0           2009           2009              26

[1 rows x 21 columns]
Prediction: [0]

In [266]:
import joblib

# Assuming you have trained a model called 'model'
joblib.dump(model, 'model.pkl')

['model.pkl']

In [267]:
import pickle

In [268]:
with open('/home/alignminds/Desktop/Collab/model.pkl', 'rb') as f:
    model = pickle.load(f)

In [618]:
!pip install lightgbm

Requirement already satisfied: lightgbm in ./arch-env/lib/python3.9/site-packages (4.5.0)
Requirement already satisfied: numpy>=1.17.0 in ./arch-env/lib/python3.9/site-packages (from lightgbm) (2.0.2)
Requirement already satisfied: scipy in ./arch-env/lib/python3.9/site-packages (from lightgbm) (1.13.1)
WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the '/home/alignminds/Desktop/Collab/arch-env/bin/python3 -m pip install --upgrade pip' command.

In [639]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, confusion_matrix, classification_report
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [640]:
# date_columns = ['DOB', 'DOD', 'ClaimStartDt', 'ClaimEndDt', 'AdmissionDt', 'DischargeDt']  # Add any other date columns

# for col in date_columns:
#     df_train_total[col] = pd.to_datetime(df_train_total[col], errors='coerce')  # Convert to datetime
#     df_train_total[col] = df_train_total[col].astype('int64') // 10**9

In [641]:
# Define features and target variable
X = df_train_total.drop('PotentialFraud', axis=1)  # Adjust if needed
y = df_train_total['PotentialFraud']

In [642]:
# categorical_columns = ['Gender', 'Race', 'State', 'County', 'Provider']  # List of categorical columns
# for col in categorical_columns:
#     le = LabelEncoder()
#     X[col] = le.fit_transform(X[col])

In [643]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [644]:
# Create a LightGBM dataset
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test, reference=train_data)

In [645]:
params = {
    'objective': 'binary',            # Binary classification
    'metric': 'binary_logloss',       # Metric to be evaluated
    'boosting_type': 'gbdt',          # Gradient Boosting Decision Tree
    'num_leaves': 50,                 # Number of leaves in one tree
    'learning_rate': 0.05,            # Learning rate
    'feature_fraction': 0.9,          # Fraction of features to use
    'bagging_fraction': 0.8,          # Fraction of data to use
    'bagging_freq': 5,                # Frequency of bagging
    'verbose': -1                     # Suppress messages
}

In [646]:
# Train the LightGBM model with early stopping using callbacks
model_lgb = lgb.train(
    params,
    train_data,
    num_boost_round=100,
    valid_sets=[test_data],          # Change to a list
    valid_names=['valid'],            # Assign a name to the validation set
    callbacks=[lgb.early_stopping(10)]  # Use callback for early stopping
)

Training until validation scores don't improve for 10 rounds
Did not meet early stopping. Best iteration is:
[100]	valid's binary_logloss: 0.376657

In [647]:
y_pred = model_lgb.predict(X_test, num_iteration=model_lgb.best_iteration)
y_pred_binary = np.where(y_pred >= 0.5, 1, 0)  # Convert probabilities to binary predictions

In [648]:
accuracy = accuracy_score(y_test, y_pred_binary)
f1 = f1_score(y_test, y_pred_binary)
recall = recall_score(y_test, y_pred_binary)
precision = precision_score(y_test, y_pred_binary)
conf_matrix = confusion_matrix(y_test, y_pred_binary)
class_report = classification_report(y_test, y_pred_binary)

# Print evaluation metrics
print(f'Accuracy: {accuracy:.4f}')
print(f'F1 Score: {f1:.4f}')
print(f'Recall: {recall:.4f}')
print(f'Precision: {precision:.4f}')
print('Confusion Matrix:\n', conf_matrix)
print('Classification Report:\n', class_report)

Accuracy: 0.8527
F1 Score: 0.7946
Recall: 0.7456
Precision: 0.8505
Confusion Matrix:
 [[63390  5593]
 [10853 31807]]
Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.92      0.89     68983
           1       0.85      0.75      0.79     42660

    accuracy                           0.85    111643
   macro avg       0.85      0.83      0.84    111643
weighted avg       0.85      0.85      0.85    111643